.banner {
  background-image: url("../images/banner.jpg"); /* Image par défaut pour desktop */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}

@media (max-width: 992px) {
  .banner {
    background-image: url("../images/banner-tablette.jpg"); /* Image pour les tablettes */
  }
}

@media (max-width: 768px) {
  .banner {
    background-image: url("../images/banner-mobile.jpg"); /* Image pour mobile */
  }
}
