footer a {
  text-decoration: none !important; /* Supprime le soulignement */
  color: inherit; /* Utilise la couleur définie pour le texte du footer */
}

footer a:hover {
  color: var(--couleur-primaire); /* Change la couleur au survol si souhaité */
}

/* Partie principale (gris clair) */
.footer-main {
  background-color: #cccccc;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-socials a {
  font-size: 1.2rem;
  margin-right: 10px;
}

/* Partie inférieure (sombre) */
.footer-bottom {
  background-color: #2c2c2c; /* Couleur identique au header */
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .footer-socials {
    margin-top: 1rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }

  .footer ul li a {
    font-size: 0.9rem;
  }
}

.chevron-right {
  margin-right: 0.3rem;
  color: #0d6efd;
}
