.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.collapse.show {
  background-color: inherit;
  padding: 0;
}

.collapse.show .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}
